
@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>

<ul data-bind="foreach: products" style="width:350px">
    <li class="product">        
        <span data-bind="text: OrderId"></span>
        <span data-bind="text: Name"></span>
        <a href="#" data-bind="click: $parent.editProduct" style="float: right">Edit</a>
        <ul data-bind="foreach: Units">
            <li>
                <span data-bind="text: Name"></span>
                <span data-bind="text: (IsBaseUnit() ? '' : '(' + BaseUnitMultiple() + ')' )"></span>
                <span data-bind="text: State"></span>                
            </li>
        </ul>
    </li>
</ul>

<style type="text/css">
    ul li > span {
        margin-right: 5px;
        display: inline-block;
    }

    li.product:not(:last-child) {
        margin-bottom: 10px;
        border-bottom: 2px solid black;
    }

    ul li {
        margin-bottom: 5px;
    }
</style>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js'></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.js"></script>
<script>

    function ProductsViewModel() {
        var self = this;
        self.products = ko.observableArray([]);


        $.getJSON("/api/product", function (allData) {

            ko.mapping.fromJS(allData, {}, self.products);
        });

    }

    ko.applyBindings(new ProductsViewModel);
</script>

